<br /><div class="textbackground">
  <br />

  <h1>Communication Research</h1>

<div class="error">This page is currently unavailable, please check back again later.</div>

<!-- SUMMARY OF RESEARCH EXPERIENCE 

<br />

ICONS WITH PIC OF EACH TYPE OF EXPERENCE LINKING TO PAPERS
 -->
<!-- <center class="cen">

<div class="project">
      <h4><%= link_to 'Organizational Change Case Study', "https://drive.google.com/open?id=1cuM7q9FDReMxg3MJ11gOdFJ4j2IbcZxf", target: :_blank, class: 'nav-link' %>
      </h4>
      <%= image_tag '', class: 'image'%>
      <p>
        A database-powered quote generator with a mobile-first
        design, using the Ruby on Rails framework, HTML, and CSS.
        Uses Git and GitHub for version control, and launched
        on Heroku.
      </p>
    </div>
</center>
 -->

 <div class="disclaimer">
    <font size="1">** All projects are hypothetical and were executed for educational purposes and not affiliated with any brand or company. Any unoriginal images used and content referenced were found online. These projects and their contents are for private and personal viewing only, and not intended to be distributed.</font>
  </div>
  
<br class="clear" />
</div>