<br />
<div class="textbackground">
<br />
<center> 
  <%= image_tag 'me.jpg', class: 'me' %>
  <br /><br />

  <h3>Robyn Wang</h3>
  <h5>COMMUNICATION SPECIALIST <br> & WEB DEVELOPER</h5>
    
  <p class="bio"> 
    Robyn Wang has a background in communication and administrative support. She graduated from UC Santa Barbara with her bachelor's in communication and USC with her master's in communication management. Robyn is currently taking part in UC Berkeley's Full-Stack Coding Boot Camp to gain skills and knowledge in web development in hopes of advancing her career. 
  </p>
  
  <br class="clear" />
</center>
</div>
