<br />
<div class="textbackground">
<br />
<center> 
  <h1> About Me </h1>
  <%= image_tag 'me.jpg', class: 'me' %>
  <br /><br />

  <h3>ROBYN WANG</h3>
  <h5>Web Developer & Communication Specialist</h5>
    
  <br/>

  <p class="bio"> 
    Welcome to my portfolio! I am a Full-Stack Web Developer with a background in Communication, Marketing, and Administrative Support. I graduated from UC Santa Barbara with my bachelor's in communication from UC Santa Barbara and have my master's in communication management from USC. More recently, I just completed UC Berkeley's Full-Stack Coding Boot Camp. I am effective at combining creativity and problem solving to design full-scale integrated marketing communications plan and develop user-friendly web applications. Previous employers and collegues have recognized my strong ability to build authentic interpersonal relationships, to lead, and to getting things done no matter the complexity. 

    <br /><br />

    Some of my personal interests include staying active, going to music events, event planning, interior designing, and traveling. I am conversationally fluent in Chinese.

    <br /><br />

    Feel free to browse around my portfolio and don't forget check out the <a href="/overview" class="about">Web Apps</a> that I have built, and my <a href="/resume" class="about">Resume</a>! 
  </p>
  
  <br class="clear" />
</center>
</div>
