<br /><div class="textbackground">
  <br />
  <h1> Welcome! </h1>

  <div class="flex-container"> 
    <div class="scrolling">
      <div class="cell">
        <div class="cap"> title1 description1 </div>
      
        <img src="/assets/flixter-ee3af42f33ee887f5ea1d3d6b468986e4e23212f25cb285378a426e14cf71498.png" alt="Two-Sided Market Place" class="full" >
      </div>

    <div class="cell">
      <div class="cap"> title1 description1 </div>
      <img src="/assets/nomster-0fed9a9e8f20755084b69c3475ed7006d5c81573bee117f0bb2f7200785e5411.png" alt="Yelp Clone" class="full" >
    </div>


    <div class="cell">
      <div class="cap"> title1 description1 </div>
      <img src="/assets/homepage-90f7ebda6e7362432da5984a8b2e29d1e2b7059b47cc64c321dc4fe91fd3d4ff.png" alt="SpotifyApp" class="full" >
    </div>

    <div class="cell">
      <div class="cap"> title1 description1 </div>
      <img src="/assets/NoteApp-c7da56e2202dedfcac4dc33878f9e37f445b81783658622ed6fcb8c613eb1291.png" alt="Note App" class="full" >
    </div>
  </div>
</div>



  <br class="clear" />
 </div>

 
