<br /><div class="textbackground">
  <br /><br />
  <h1> </h1>
  <h5>Web Developer & Communication Specialist</h5>
    <p class="bio"> 
      The intersection where PR & Marketing meets Web Development 
    </p>
    <br />

<div class="scroll-container">
    <div class="flex-container"> 
      <div class="scrolling">

        <div class="iconcell">
          <i class="fas fa-laptop-code fa-5x"></i>
          <br /><br />  
          <h5 class="title">Full-Stack Web Development </h5>
          <div class="caption">Languages: HTML, CSS, Ruby, JavaScript, JQuery, ReactJS
          <br /> 
          Tools: PostgreSQL, Ruby on Rails, Git/ GitHub, Heroku</div>
        </div>
        
        <div class="iconcell">
          <i class="fas fa-bullhorn fa-5x"></i>
          <i class="fas fa-ad fa-5x"></i>
          <br /><br />
          <h5 class="title">PR & Marketing</h5>
          <div class="caption">Integrated Marketing Communication Plans, International Marketing Communication Plans, Market & Consumer Research, Campaign Executions, Strategic PR Planning, PR Copywriting, Adobe InDesign/ Illustrator</div>
        </div>

        <div class="iconcell">
          <i class="fas fa-chart-line fa-5x"></i>
          <br /><br />
          <h5 class="title">Communication Research</h5>
          <div class="caption">Design & Methods: Observational, Experiemental, Surveys, Interviews, Focus Groups, Case Studies, Content Analysis, Literature Review
          <br />
          Programs: Qualtrics Research Software, SPSS, Amazon Web Services
          </div>
        </div>

        <div class="iconcell">
          <i class="fas fa-tasks fa-5x"></i>
          <br /><br />
          <h5 class="title">Organizational Management</h5>
          <div class="caption">Facilitating Change: Organizational Behavior, Communication, Relationships, Structure, and Dynamics
          <br /> 
          Administrative Support
          </div>
        </div>

      </div>
    </div>
  </div>
  


<center>

   
    <br /><br />
    
    <a class="viewportfolio" href="#">
      View Portfolio 
      <br />
      <i class="fa fa-angle-down"></i>
    </a>
    </center>



    <br class="clear" />

  <hr/>
  <br>

  <div class="scroll-container">
    <h3>Web Apps</h3>
    <div class="flex-container"> 
      <div class="scrolling">

        <div class="cell">
          <h5 class="title">2-Sided Marketplace</h5>
          <img src="/assets/flixter-ee3af42f33ee887f5ea1d3d6b468986e4e23212f25cb285378a426e14cf71498.png" alt="Two-Sided Market Place" class="full" >
          <div class="overlay">
            <div class="text">
              Two-sided, video-streaming marketplace platform that features credit card payment capabilities, user role management, complex user interfaces, and advanced database relationships.
            </div>
          </div>
        </div>

        <div class="cell">
          <h5 class="title">Note App</h5>
          <img src="/assets/NoteApp-c7da56e2202dedfcac4dc33878f9e37f445b81783658622ed6fcb8c613eb1291.png" alt="Note App" class="full" >
          <div class="overlay">
            <div class="text">
              Dynamic note taking app that uses Facebook's ReactJS, JavaScript/ES6, and Axios to let users to create, edit, delete, and tag notes. 
            </div>
          </div>
        </div>

        <div class="cell">
          <h5 class="title">SpotifyApp</h5>
          <img src="/assets/homepage-90f7ebda6e7362432da5984a8b2e29d1e2b7059b47cc64c321dc4fe91fd3d4ff.png" alt="SpotifyApp" class="full" >
          <div class="overlay">
            <div class="text">
              Music search platfrom allowing users to search and view an artist's top 10 songs, and log in to view and edit their existing playlists using Spotify's API.
            </div>
          </div>
        </div>

        <div class="cell">
          <h5 class="title">Yelp Clone</h5>
          <img src="/assets/nomster-0fed9a9e8f20755084b69c3475ed7006d5c81573bee117f0bb2f7200785e5411.png" alt="Yelp Clone" class="full" >
          <div class="overlay">
            <div class="text">
              A Yelp clone that integrates with the Google Maps API and includes features like user comments, star ratings, image uploading, and user authentication.
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  
  <hr/>

  <div class="scroll-container">
    <h3>PR & Marketing</h3>
    <div class="flex-container"> 
      <div class="scrolling">
        <div class="cell">
          <h4 class="title"><a href="/overview/#flixter">Two-Sided Market Place</a></h4>
          <img src="/assets/flixter-ee3af42f33ee887f5ea1d3d6b468986e4e23212f25cb285378a426e14cf71498.png" alt="Two-Sided Market Place" class="full" >
        </div>

        <div class="cell">
          <h4 class="title"><a href="/overview/#yelp">Yelp Clone</a></h4>
          <img src="/assets/nomster-0fed9a9e8f20755084b69c3475ed7006d5c81573bee117f0bb2f7200785e5411.png" alt="Yelp Clone" class="full" >
        </div>

        <div class="cell">
          <h4 class="title"><a href="/overview/#spotify">SpotifyApp</a></h4>
          <img src="/assets/homepage-90f7ebda6e7362432da5984a8b2e29d1e2b7059b47cc64c321dc4fe91fd3d4ff.png" alt="SpotifyApp" class="full" >
        </div>

        <div class="cell">
          <h4 class="title"><a href="/overview/#note">Note App</a></h4>
          <img src="/assets/NoteApp-c7da56e2202dedfcac4dc33878f9e37f445b81783658622ed6fcb8c613eb1291.png" alt="Note App" class="full" >
        </div>
      </div>
    </div>
  </div>

  <hr/>
  <h3>Communication Research</h3>

  <br class="clear" />
</div>


