<br /><div class="textbackground">
  <br />
  <h1> Communication Projects </h1>

<!-- 
<%= link_to "Integrated Marketing Communications Plan", asset_path("/assets/IMCplan-e902080c32e1771d26feddc93db63a80d100785965fc7d1b44882319815fff9d.pdf"), target: "_blank" %>
  <br />


  <%= link_to "Organizational Dynamics", asset_path("/assets/OrgDyn-ecf1b49f0ae004e27efb261173760c8041528d74e993751f19e94e5296c1e2c3.pdf"), target: "_blank" %>
  <br />

<%= link_to "International Marketing Communications Plan", asset_path("/assets/InternationalMC-88a5a3930e2fdd5f382fe1b1a03a19f9fa006ca5b120dc25cf82ed5ac7bc87cf.pdf"), target: "_blank" %>
  <br />

<%= image_tag 'IMCplan.pdf', class: 'full-width'%> -->
<br />
- a's project?
<br />
- check printed portfolio
<br />
- info kit


<br class="clear" />
</div>