.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.full-width {
  width: 100%;
}

.icons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: auto;
}

.icon-cont {
  width: 15%;
  height: auto;
  margin: 1%;
}

.icon {
  width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: 2vw;
}

.app-des {
  margin-bottom: 0;
  text-align: justify;
  font-size: 95%;
}

.app-links {
  font-size: 2.5vw;
  text-align: right;
  font-weight: bold;
}