.box {
  float: left;
  width: 42.5%;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.full-width {
  width: 100%;
}

.icons {
  text-align: center;
  display: flex;
  justify-content: space-around;
  max-height: 100%;
  height: auto;
}

.icon {
  position: relative;
  display: inline-block;
  width: 15%;
  max-width: 15%;
  margin: 1%;
  font-weight: bold;
  font-size: 2vw;
  border: 1px solid black;
}

.icon:after {
  content: "";
  display: block;
  padding: 1%;
}

.app-des {
  margin-bottom: 0;
  text-align: justify;
}

.app-links {
  font-size: 80%;
  text-align: right;
}