.hometextbackground {
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.9);
}

.scroll-container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.flex-container {
  display: flex;
  overflow-x: auto;
}

.scrolling {
  white-space: nowrap;
  word-spacing: -3px;
  letter-spacing: -3px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.iconcell {
  position: relative;
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  height: 100%;
  max-width: 100%;
  width: 45%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 2px;
}

.caption {
  display: flex;
  justify-content: space-evenly;
  font-size: 80%;
  word-wrap: normal;
  text-align: center
}

.apps-cont {
  padding-left: 2%;
  padding-right: 2%;
  background-color: rgba(225, 227, 225, 0.9);
}

.appsfull-width {
  width: 100%;
  border-radius: 5px;
}

.appbox {
  float: left;
  width: 45%;
  margin-bottom: 8%;
  margin-left: 3%;
}

.indexbox {
  position: relative;
  display: inline-block;
  float: left;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  max-width: 100%;
  text-align: center;
}

.appsoverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 0;
  max-height: 100%;
  height: 100%;
  transition: .5s ease;
}

.indexbox:hover .appsoverlay {
  width: 100%;
  border-radius: 5px;
}

.text {
  white-space: normal; 
  color: white;
  font-size: 1.25vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.underline {
  height: 2px;
  background-color: rgba(28, 107, 26, 0.6);
  border: none;
  width: 25%;
  margin-bottom: 8%;
}

.prcont {
  margin-left: 2%;
  margin-right: 1%;
}

.prbox {
  position: relative;
  display: flex;
  float: left;
  width: 33%;
  border: 1px solid rgba(28, 107, 26, 0.3);
  overflow-y: hidden;
}
  
.prbox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  text-align: center;
}

.pr-img {
  width: 100%;
  height: 100%;
  filter: brightness(100%);
}

.learn-more {
  padding-top: 42%;
}

.disclaimer {
  padding-left: 2%;
  padding-right: 2%;
  line-height: .7;
  color: grey;
  margin-top: 8%;
}

.commcol {
  position: relative;
  display: flex;
  float: left;
  max-width: 100%;
  width: 23%;
  height: 100%;
  margin: 1%;
  padding-bottom: 10%;
  overflow-y: hidden;
}
  
.commcol:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.comm-head {
  margin: 5%;
  margin-top: 0;
  font-weight: bold;
  font-size: 2.5vw;
}
 

.prog-col {
  position: relative;
  display: flex;
  float: left;
  max-width: 100%;
  width: 30%;
  height: 100%;
  padding-bottom: 13%;
  overflow-y: hidden;
}

.programs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5%;
}

