
.hometextbackground {
  margin: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1%;
}

.name {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.9), 0 0 10px #616263;
  text-decoration: underline;
}

.scroll-container {
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
}

.flex-container {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
}

.scrolling {
  white-space: nowrap;
  word-spacing: -3px;
  letter-spacing: -3px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.title {
  margin-top: 8%;
}

.iconcell {
  position: relative;
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  height: 100%;
  max-width: 100%;
  width: 45%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 2px;
  vertical-align: top;
}

.caption {
  display: flex;
  justify-content: space-evenly;
  font-size: 95%;
  word-wrap: normal;
  text-align: center;
}

.appscont {
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgba(255, 255, 255, 0.7);
}

.apps-full-width {
  width: 100%;
}

.apps-box {
  float: left;
  width: auto;
  padding-bottom: 5%;
  padding-top: 2%;

}

.app-box {
  position: relative;
  display: inline-block;
  float: left;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  max-width: 100%;
  text-align: center;

}

.apps-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: hidden;
  width: 0;
  max-height: 100%;
  height: 100%;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.app-box:hover .apps-overlay {
  width: 100%;
}

.app-text {
  white-space: normal; 
  color: black;
  font-size: 2vw;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.underline {
  height: 2px;
  background-color: rgba(28, 107, 26, 0.6);
  border: none;
  width: 25%;
  margin-bottom: 8%;
}

.prcont {
  margin-left: 2%;
  margin-right: 1%;
}

.prbox {
  position: relative;
  display: flex;
  float: left;
  width: 33%;
  border: 1px solid rgba(28, 107, 26, 0.3);
  overflow-y: hidden;
}
  
.prbox:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.pr-content {
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  text-align: center;
}

.pr-img {
  width: 100%;
  height: 100%;
  filter: brightness(100%);

  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.pr-content:hover .pr-img {
  opacity: 0.5;
}

.learn-more {
  padding-top: 42%;
}

.disclaimer {
  padding-left: 2%;
  padding-right: 2%;
  line-height: .7;
  color: grey;
  margin-top: 8%;
}

.commcol {
  position: relative;
  display: flex;
  float: left;
  max-width: 100%;
  width: 23%;
  height: 100%;
  margin: 1%;
  padding-bottom: 14%;
  overflow-y: hidden;
}
  
.commcol:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.comm-content {
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  text-align: center;
 
}

.comm-head {
  margin: 5%;
  margin-top: 0;
  font-weight: bold;
  font-size: 2.25vw;
}

.comm-img {
  width: 100%;
  max-height: 100%;
}

.programs {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6%;
}

.prog-col {
  position: relative;
  display: flex;
  float: left;
  max-width: 100%;
  width: 30%;
  height: 100%;
  padding-bottom: 13%;
  overflow-y: hidden;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  text-align: center;
}


.top {
  color: grey;
}


