@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Serif:400,700|Playfair+Display|Raleway:400,800&display=swap');


body {
  background: image_url('Background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Playfair Display', serif;
}

.textbackground {
  margin: 2%;
  padding: 2%;
}

.navbar {
  box-shadow: 0px 1px 10px #1c6b1a;
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  color: #1c6b1a;
}

.nav-item {
  font-family: 'PT Sans', sans-serif;
}


.clear {
  clear: both;
}

.textbackground {
  background-color: rgba(255, 255, 255, 0.9);
 }

 .me {
  height: 150px;
  border-radius: 100%;
  border-style: solid;
  border-color: white;
  margin-top: 40px;
}

h1 {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

h2 {
  text-align: center;
  font-family: 'PT Serif', serif;
  font-weight: 700;
}

h3 {
  text-align: center;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

h4 {
  text-align: center;
  font-weight: bold;
  font-family: 'PT Serif', serif;
}

h5 {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

.skills-and-tools{
  max-width: 400px;
  margin: 40px auto;
}

a {
color: #1c6b1a;
}

a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.flex-container {
  display: flex;
  overflow-x: auto;
}

.scrolling {
  white-space: nowrap;
  word-spacing: -3px;
  letter-spacing: -3px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.cell {
  position: relative;
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  height: 100%;
  max-width: 100%;
  width: 42.5%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.full{
  height: 100%;
  max-height: 85%;
  width: 100%;
  max-width: 85%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.scroll-container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}


.icell {
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

.iscrolling {
  white-space: nowrap;
  word-spacing: -3px;
  letter-spacing: -3px;
}

.cell:hover .overlay {
  width: 100%;
}

.text {
  white-space: normal; 
  color: white;
  font-size: 8px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 0;
  max-height: 85%;
  height: 85%;
  transition: .5s ease;
}

.project {
  display: block;
  width: 42.5%;
  margin-top: 50px;
  text-align: center;
  height: 42.5%;
}

.image {
  max-height: 55%;
  max-width: 55%;
  height: 55%;
  width: 55%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.iconcell {
  position: relative;
  display: inline-block;
  word-spacing: normal;
  letter-spacing: normal;
  white-space : normal;
  height: 100%;
  max-width: 100%;
  width: 45%;
  text-align: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 2px;
}

.caption {
  display: flex;
  font-size: 80%;
  word-wrap: normal;
  text-align: center;
  justify-content: center;
}
