.project {
  display: block;
  width: 42.5%;
  margin-top: 50px;
  text-align: center;
  height: 42.5%;
}

.image {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  width: auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

.error {
  color: red;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

